p {
    font-family: 'Helvetica', sans-serif;
    font-style: Light;
}

h1 {
    font-weight: lighter;
}

body {
    background-color: #2a2b3d;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: #3b3d56;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.panel-body {
  background-color: #313348;
  color: #ffffff;
}